$background-color: #3a2c54;
$button-background-color: #9965dd;
$button-hover-background-color: #a565dd;
$body-background-gradient-start: #181023;
$body-background-gradient-end: #0b0519;
$body-text-color: #c3b3d8;
