$background-color: #3a2c54;
$button-background-color: #9965dd;
$button-hover-background-color: #a565dd;
$body-background-gradient-start: #181023;
$body-background-gradient-end: #0b0519;
$body-text-color: #c3b3d8;
$header-background-gradient-start: #2c0a4c;
$header-background-gradient-end: #450d80;
$header-box-shadow: rgba(0, 0, 0, 0.6);
