<app-header />

<main>
  <ul id="users">
    <!-- <li *ngFor="let user of users">
      <app-user (select)="onSelectUser($event)" [avatar]="user.avatar" [name]="user.name" [id]="user.id" />
    </li> -->
    @for( user of users; track user.id) {
      <li>
        <app-user [persons]="user" (select)="onSelectUser($event)" />
      </li>
    }
  </ul>

  
  
  <!-- [userId]="userId.id"  -->

  @if (this.selectPerson) {
    <app-tasks [userId]="this.selectPerson" [name]="this.selectPerson"></app-tasks>
  } @else {
    <p>please select User</p>
  }
  
</main>

<!-- <input type="text" [formControl]="myControl" [(ngModel)]="favoriteColor" />
<p>{{ favoriteColor }}</p> -->